.container {
  position: relative;
  background-image: url('/Images/artwork\ \(14\).png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  padding-top: 50px; /* Añade espacio en la parte superior del contenedor */
  font-family: 'Montserrat', sans-serif;
} 



.mainTitle {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 24px;
  font-weight: 600;
  color: #333;
  padding-right: 224px;
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  transition: color 0.3s;
  margin-top: -20px;
}

.mainTitle:hover {
  color: #5161ce;
  background-color: rgba(255, 255, 255, 0.2);
}

.mainTitle::before {
  content: "»";
  margin-right: 10px;
  font-size: 30px;
  color: #ff4500;
}

.mainText {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-size: 18px; /* Menor tamaño de fuente que el título */
  font-weight: 400; /* Menor grosor de fuente que el título */
  color: #555; /* Un color ligeramente más claro que el título */
  padding-right: 32px; /* Un poco más de padding para alinearlo con el título */
  margin-bottom: 15px; /* Menor margen que el título */
  transition: color 0.3s;
  font-weight: bold;
  margin-top: -20px;
}

.mainText:hover {
  color: #5161ce;
  background-color: rgba(255, 255, 255, 0.05); /* Un fondo más ligero que el título al pasar el mouse */
}

.imageContainer {
  margin-top: -20px;
  margin: 30px;
  position: relative; /* Esto es necesario para que el pseudo-elemento se posicione correctamente */
  margin-left: 700px;

  /* Otros estilos que desees agregar */
}
.imageContainerr {
  margin: 30px;
  position: relative; /* Esto es necesario para que el pseudo-elemento se posicione correctamente */
  margin-left: 700px;
  margin-top: 140px;

  /* Otros estilos que desees agregar */
}

.imageContainer::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.137); /* Aquí, el 0.5 es el nivel de opacidad. Puedes ajustarlo según tus necesidades. */
}
.imageContainerr::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255, 255, 255, 0.137); /* Aquí, el 0.5 es el nivel de opacidad. Puedes ajustarlo según tus necesidades. */
}

.parrafo {
  font-weight: bold;
  font-size: 1.2em;
  color: #555;
  margin-top: -220px;
  line-height: 1.5;
  max-width: 350px;
  margin-left: 970px
  
}
.parrafoo {
  font-weight: bold;
  font-size: 1.2em;
  color: #555;
  margin-top: -180px;
  line-height: 1.5;
  max-width: 350px;
  margin-left: 970px
  
}
/* Estilos para tablets */
@media (max-width: 768px) {
  .mainTitle, .mainText {
    justify-content: center; /* Centrar el contenido */
    padding-right: 0; /* Eliminar el padding derecho */
    margin-left: 0; /* Eliminar el margen izquierdo */
    margin-top: 10px; /* Ajustar el margen superior */
  }

  .imageContainer, .imageContainerr {
    margin-left: 50%; /* Centrar las imágenes */
    transform: translateX(-50%); /* Centrar las imágenes */
    margin-top: 20px; /* Ajustar el margen superior */
  }

  .parrafo {
    margin-top: 20px; /* Ajustar el margen superior */
    margin-left: 50%; /* Centrar el párrafo */
    transform: translateX(-50%); /* Centrar el párrafo */
    max-width: 90%; /* Ajustar el ancho máximo */
  }
}
/* Estilos para móviles */

/* Estilos para móviles */
/* Estilos para móviles */
@media (max-width: 480px) {
  .mainTitle, .mainText {
    text-align: center;
    padding-right: 0;
    margin: 10px 0;
  }


  .imageContainer {
    width: 100px; /* Ajustar el tamaño de las imágenes */
    height: 70px;
    margin-left: 45px;
  }
  .imageContainerr {
    width: 100px; /* Ajustar el tamaño de las imágenes */
    height: 70px;
    margin-left: 45px;
    margin-top: 60px;
  }

  .parrafo {
    font-size: 1em;
    margin-left: 315px; /* Espacio a la izquierda del texto */
    margin-top: -105px;
  }
  .parrafoo {
    font-size: 1em;
    margin-left: 260px; /* Espacio a la izquierda del texto */
    margin-top: -105px;
  }
}

