.navbar {
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(229, 222, 223);
  padding: 0 20px; /* Añadir padding a los lados */

}

.logoContainer {
  display: flex;
  align-items: center; /* Alinear verticalmente el logo y el título */
}

.logo {
  border-radius: 50%; /* Hacer que el logo sea un círculo */
  margin-right: 15px;
}

.navbar h2 {
  font-family: 'Montserrat', sans-serif; 
  margin: 0; /* Eliminar el margen */
}

.navbarNav {
  display: flex;
}

.navItem {
  margin: 0 10px;
  cursor: pointer;
  font-weight: bold;
}

.navLink {
  padding: 8px 12px; /* Añadir padding a los lados */
  text-decoration: none;
  color: rgb(19, 16, 16);
  transition: background-color 0.3s, color 0.3s; /* Transición suave */
}

.navLink:hover {
  background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
  border-radius: 5px;
}

.navItem.active .navLink {
  color: #5161ce;
  background-color: white;
}

/* Estilos para móviles */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Cambiar la dirección a columna */
    height: auto; /* Altura automática */
    padding: 10px; /* Ajustar el padding */
  }

  .logoContainer {
    margin-bottom: 10px; /* Añadir margen inferior */
  }

  .navbarNav {
    justify-content: center; /* Centrar los enlaces */
  }
}
