.misionVision {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-top: 100px;
}

.mision, .vision {
  border: 2px solid #050505;
  background-color: rgba(231, 225, 225, 0.8);
  padding: 20px;
  border-radius: 10px;
  flex: 1;  /* Añadido para que ocupen el espacio disponible */
  margin: 0 10px;  /* Añadido un pequeño margen para separarlos */
  text-align: left;
  font-weight: bold;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.contenedorAnimado {
  overflow: hidden;
  flex: 1;  /* Añadido para que ocupe el espacio disponible */
}
